# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
ENV/
.pytest_cache/
*.sqlite3

# Django
*.log
staticfiles/
media/

# Node
node_modules/
dist/
build/
.env
.env.local

# Firebase
ssp-c3ea6-firebase-adminsdk-*.json

# IDE
.vscode/
.DS_Store
